SELECT,
INPUT[type="text"] {
  width: 160px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

SECTION {
  padding: 8px;
  overflow: auto;
}

SECTION > DIV {
  float: left;
  padding: 4px;
}

SECTION > DIV + DIV {
  width: 40px;
  text-align: center;
}

#leftValues {
  height: 80px;
}

#rightValues {
  height: 80px;
}

#channel-chooser {
  margin: 0 auto;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}